<p-toast></p-toast>
<p-fluid>
    <div class="card colorSecondaryText">
        <div class="flex justify-between items-center mb-6">
            <h3 class="colorSecondaryText">Información del Usuario</h3>

            <div class="flex gap-2">
                <ng-container *ngIf="datosUsuario?.nombreRol === 'MEDICO' || datosUsuario?.nombreRol === 'ADMIN'">
                    <p-button label="Crear Usuario" icon="pi pi-user-plus" severity="success"
                        (click)="abrirCrearUsuario()"></p-button>

                    <p-button label="Listar Usuarios" icon="pi pi-list" severity="info"
                        (click)="abrirListarUsuarios()"></p-button>
                </ng-container>
            </div>
        </div>

        <h5 class="text-lg font-semibold mb-4 border-b pb-2 colorPrimaryText">
            Datos Personales
        </h5>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
            <div class="field mb-4">
                <label class="font-medium block mb-2">Apellidos</label>
                <input pInputText value={{datosUsuario?.apellido}} readonly
                    class="w-full bg-surface-50 border-slate-300" />
            </div>

            <div class="field mb-4">
                <label class="font-medium block mb-2">Nombres</label>
                <input pInputText value={{datosUsuario?.nombre}} readonly
                    class="w-full bg-surface-50 border-slate-300" />
            </div>
            <div class="field mb-4">
                <label class="font-medium block mb-2">Cedula</label>
                <input pInputText value={{datosUsuario?.cedula}} readonly
                    class="w-full bg-surface-50 border-slate-300" />
            </div>
            <div class="field mb-4">
                <label class="font-medium block mb-2">Correo</label>
                <input pInputText value={{datosUsuario?.correo}} readonly
                    class="w-full bg-surface-50 border-slate-300" />
            </div>
            <div class="field mb-4">
                <label class="font-medium block mb-2">Estado</label>
                <input pInputText [value]="datosUsuario?.estado ? 'Activo' : 'Inactivo'" readonly
                    class="w-full bg-surface-50 border-slate-300" />
            </div>
            <div class="field mb-4">
                <label class="font-medium block mb-2">Cargo</label>
                <input pInputText value={{datosUsuario?.nombreRol}} readonly
                    class="w-full bg-surface-50 border-slate-300" />
            </div>
        </div>

        <div class="flex justify-between items-center mb-6">
            <h5 class="text-lg font-semibold mb-4 border-b pb-2 colorPrimaryText">
                Información del Médico Optometrista
            </h5>
            <div class="flex gap-2">
                <ng-container *ngIf="datosUsuario?.nombreRol === 'MEDICO'">
                    <p-button
                        [label]="datosOptometrista?.idOptometrista ? 'Actualizar Datos Profesionales' : 'Registrar Datos Profesionales'"
                        [icon]="datosOptometrista?.idOptometrista ? 'pi pi-pencil' : 'pi pi-plus'"
                        [severity]="datosOptometrista?.idOptometrista ? 'info' : 'success'"
                        (click)="abrirRegistroOptometrista()">
                    </p-button>
                </ng-container>
            </div>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mb-6">
            <div class="field mb-4">
                <label class="font-medium block mb-2">Registro Profesional</label>
                <input pInputText value={{datosOptometrista?.registroProfesional}} readonly
                    class="w-full bg-surface-50 border-slate-300" />
            </div>

            <div class="field mb-4">
                <label class="font-medium block mb-2">Telefono</label>
                <input pInputText value={{datosOptometrista?.telefono}} readonly
                    class="w-full bg-surface-50 border-slate-300" />
            </div>
        </div>
    </div>
</p-fluid>

<p-dialog [header]="esEdicion ? 'Actualizar Usuario' : 'Registrar Nuevo Usuario'" [(visible)]="displayCrearDialog"
    [modal]="true" [style]="{width: '50vw'}" [draggable]="false" [resizable]="false" class="p-fluid">

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">

        <div class="field">
            <label class="font-medium block mb-2" for="newNombre">Nombres</label>
            <input class="w-full bg-surface-50 border-slate-300" pInputText id="newNombre"
                [(ngModel)]="nuevoUsuario.nombre" placeholder="Ingrese nombres" />
            <small class="text-red-500 font-bold" *ngIf="submitted && !nuevoUsuario.nombre">
                <i class="pi pi-exclamation-circle mr-1"></i>Requerido
            </small>
        </div>

        <div class="field">
            <label class="font-medium block mb-2" for="newApellido">Apellidos</label>
            <input class="w-full bg-surface-50 border-slate-300" pInputText id="newApellido"
                [(ngModel)]="nuevoUsuario.apellido" placeholder="Ingrese apellidos" />
            <small class="text-red-500 font-bold" *ngIf="submitted && !nuevoUsuario.apellido">
                <i class="pi pi-exclamation-circle mr-1"></i>Requerido
            </small>
        </div>

        <div class="field">
            <label class="font-medium block mb-2" for="newCedula">Cédula</label>
            <input class="w-full bg-surface-50 border-slate-300" pInputText id="newCedula"
                [(ngModel)]="nuevoUsuario.cedula" maxlength="10" keyfilter="int" placeholder="Ingrese cédula" />
            <small class="text-red-500 font-bold" *ngIf="submitted && !nuevoUsuario.cedula">
                <i class="pi pi-exclamation-circle mr-1"></i>Requerido
            </small>
            <small class="text-orange-600 font-bold block mt-1" *ngIf="backendErrors.cedula">
                <i class="pi pi-info-circle mr-1"></i>{{ backendErrors.cedula }}
            </small>
        </div>

        <div class="field">
            <label class="font-medium block mb-2" for="newEstado">Estado</label>
            <p-dropdown [options]="estados" [(ngModel)]="nuevoUsuario.estado" optionLabel="label" optionValue="value"
                placeholder="Seleccione estado" styleClass="w-full" [style]="{'width':'100%'}"></p-dropdown>
        </div>

        <div class="field md:col-span-2">
            <label class="font-medium block mb-2" for="newRol">Rol del Usuario</label>
            <p-dropdown [options]="listaRoles" [(ngModel)]="nuevoUsuario.idRol" optionLabel="nombreRol"
                optionValue="idRol" placeholder="Seleccione un rol" styleClass="w-full" [style]="{'width':'100%'}">
            </p-dropdown>
            <small class="text-red-500 font-bold" *ngIf="submitted && !nuevoUsuario.idRol">
                <i class="pi pi-exclamation-circle mr-1"></i>Requerido
            </small>
        </div>

        <div class="field md:col-span-2">
            <label class="font-medium block mb-2" for="newCorreo">Correo Electrónico</label>
            <input class="w-full bg-surface-50 border-slate-300" pInputText id="newCorreo"
                [(ngModel)]="nuevoUsuario.correo" placeholder="ejemplo@optica.com" />
            <small class="text-red-500 font-bold" *ngIf="submitted && !nuevoUsuario.correo">
                <i class="pi pi-exclamation-circle mr-1"></i>Requerido
            </small>
            <small class="text-orange-600 font-bold block mt-1" *ngIf="backendErrors.correo">
                <i class="pi pi-info-circle mr-1"></i>{{ backendErrors.correo }}
            </small>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pt-4">
            <div class="field md:col-span-2 mb-8 pb-4" *ngIf="!esEdicion">
                <label class="font-medium block mb-2" for="newClave">Contraseña</label>

                <p-password [(ngModel)]="nuevoUsuario.clave" [toggleMask]="true" placeholder="Contraseña segura"
                    styleClass="w-full" [inputStyle]="{'width':'100%'}" promptLabel="Ingrese una contraseña"
                    weakLabel="Débil" mediumLabel="Media" strongLabel="Fuerte">
                </p-password>
                <small class="text-red-500 font-bold" *ngIf="submitted && !esEdicion && !nuevoUsuario.clave">
                    <i class="pi pi-exclamation-circle mr-1"></i>Requerido
                </small>
            </div>

        </div>

    </div>

    <ng-template pTemplate="footer">

        <button pButton [label]="esEdicion ? 'Actualizar Cambios' : 'Guardar Usuario'" icon="pi pi-check"
            (click)="guardarUsuario()" [loading]="cargando">
        </button>
    </ng-template>
</p-dialog>

<p-dialog header="Lista de Usuarios Registrados" [(visible)]="displayListarDialog" [modal]="true"
    [style]="{width: '70vw'}" [draggable]="false" [resizable]="false">

    <div class="pt-2">
        <p-table [value]="listaUsuarios" [paginator]="true" [rows]="5" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Rol</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr [ngClass]="{'bg-blue-50': user.idUsuario === datosUsuario?.idUsuario}">
                    <td>
                        {{user.nombre}}
                        <p-tag *ngIf="user.idUsuario === datosUsuario?.idUsuario" value="Tú" severity="info"
                            class="ml-2" [rounded]="true">
                        </p-tag>
                    </td>
                    <td>{{user.apellido}}</td>
                    <td>{{user.correo}}</td>
                    <td><span class="font-bold">{{user.nombreRol}}</span></td>
                    <td>
                        <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-warning mr-2"
                            (click)="abrirEditarUsuario(user)">
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="5" class="text-center p-4">No hay usuarios registrados.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</p-dialog>

<p-dialog [header]="esEdicionOptometrista ? 'Actualizar Datos Profesionales' : 'Registrar Datos Profesionales'"
    [(visible)]="displayOptometristaDialog" [modal]="true" [style]="{width: '40vw'}" [draggable]="false"
    [resizable]="false" class="p-fluid">

    <div class="flex flex-col gap-4 pt-4">

        <div class="field">
            <label class="font-medium block mb-2">Registro Profesional (SENESCYT / MSP)</label>
            <input class="w-full bg-surface-50 border-slate-300" pInputText
                [(ngModel)]="nuevoOptometrista.registroProfesional" placeholder="Ej: 1020-OPT-2024" />

            <small class="text-red-500 font-bold" *ngIf="!nuevoOptometrista.registroProfesional && cargando">
                <i class="pi pi-exclamation-circle mr-1"></i>Requerido
            </small>

            <small class="text-orange-600 font-bold block mt-1" *ngIf="backendErrorsOptometrista.registro">
                <i class="pi pi-info-circle mr-1"></i>{{ backendErrorsOptometrista.registro }}
            </small>
        </div>

        <div class="field">
            <label class="font-medium block mb-2">Teléfono de Contacto</label>
            <input class="w-full bg-surface-50 border-slate-300" pInputText [(ngModel)]="nuevoOptometrista.telefono"
                placeholder="Ej: 0991234567" />

            <small class="text-red-500 font-bold" *ngIf="!nuevoOptometrista.telefono && cargando">
                <i class="pi pi-exclamation-circle mr-1"></i>Requerido
            </small>

            <small class="text-orange-600 font-bold block mt-1" *ngIf="backendErrorsOptometrista.telefono">
                <i class="pi pi-info-circle mr-1"></i>{{ backendErrorsOptometrista.telefono }}
            </small>
        </div>

    </div>

    <ng-template pTemplate="footer">
        <button pButton label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="displayOptometristaDialog=false"></button>

        <button pButton [label]="esEdicionOptometrista ? 'Actualizar' : 'Guardar'" icon="pi pi-check" severity="success"
            (click)="guardarOptometrista()" [loading]="cargando"></button>
    </ng-template>
</p-dialog>
